.footer{
    width: 100%;
    text-align: center;
    padding: 3rem 0;

    h4{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
        margin-top: 2rem;
        text-transform: capitalize;
    }

    p{
        font-size: 1.4rem;
        color: #555;
    }

    &__icons{


        .fa{
            font-size: 1.7rem;
            padding: 2rem 0;
            cursor: pointer;
            color: orangered;
            margin: 0 1.2rem;

        }
    }
}